<div class="src-container" data-flex="row">
	<div class="src-footer__menu" data-column="4">
		{{navigation}}
	</div>
	<div class="src-footer__copy" data-column="4">
		<small>Copyright 2022</small>
	</div>
	<div class="src-footer__social" data-column="4">
		<!--<ul>
			<li><a href="#"><i class="ion-facebook"></i></a><a href="#"><i class="ion-twitter"></i></a><a href="#"><i class="ion-reddit"></i></a><a href="#"><i class="ion-instagram"></i></a></li>
		</ul>-->
    {{> "modules/social-sharing"}}
	</div>
</div>