<div class="loading-panel">
  <div class="loading__row">
    <div class="loading__col">?</div>
    <div class="loading__col">?</div>
    <div class="loading__col">?</div>
    <div class="loading__col">?</div>
    <div class="loading__col">?</div>
    <div class="loading__col">?</div>
  </div>
  <div class="loading__row">
    <div class="loading__col">?</div>
    <div class="loading__col">?</div>
    <div class="loading__col">?</div>
    <div class="loading__col">?</div>
    <div class="loading__col">?</div>
    <div class="loading__col">?</div>
  </div>
  <div class="loading__row">
    <div class="loading__col">?</div>
    <div class="loading__col">?</div>
    <div class="loading__col">?</div>
    <div class="loading__col">?</div>
    <div class="loading__col">?</div>
    <div class="loading__col">?</div>
  </div>
  <div class="loading__row">
    <div class="loading__col">?</div>
    <div class="loading__col">?</div>
    <div class="loading__col">?</div>
    <div class="loading__col">?</div>
    <div class="loading__col">?</div>
    <div class="loading__col">?</div>
  </div>
  <div class="loading__row">
    <div class="loading__col">?</div>
    <div class="loading__col">?</div>
    <div class="loading__col">?</div>
    <div class="loading__col">?</div>
    <div class="loading__col">?</div>
    <div class="loading__col">?</div>
  </div>
  <div class="loading__row">
    <div class="loading__col">?</div>
    <div class="loading__col">?</div>
    <div class="loading__col">?</div>
    <div class="loading__col">?</div>
    <div class="loading__col">?</div>
    <div class="loading__col">?</div>
  </div>
</div>