{{!< default}}


	<section class="src-page">
		<div class="src-box">
			<div class="src-postfeed flex flex-row">
				{{#foreach posts}}

					{{> "card"}} {{!-- partials/card.hbs --}}

				{{/foreach}}
			</div>
		</div>
	</section>
