{{!< default}}



	<section class="src-page">

			<div class="src-postfeed">
        {{#get "posts" limit="4" filter="featured:false"}}
				{{#foreach posts}}

					{{> "card"}} {{!-- partials/card.hbs --}}

				{{/foreach}}
        {{/get}}
			</div>

	</section>
